Repository WyriHaximus/github-action-next-semvers, pull requests merged in 2021-01, with the labels that each got.

#17 Update to test utilities v3
  .github/workflows/ci.yml
  composer.json
  composer.lock
  psalm.xml
Labels: CI 🚧, Configuration ⚙, Dependencies 📦, JSON 👨‍💼, PHP 🐘, YAML 🍄

#19 Update versions in examples
  README.md
Labels: MarkDown 📝

#16 Implemented pre-release feature
  README.md
  src/Next.php
  tests/NextTest.php
Labels: MarkDown 📝, PHP 🐘, Source 🔮, Tests 🧪

#22 Fix small issues from #16
  src/Next.php
  tests/NextTest.php
Labels: PHP 🐘, Source 🔮, Tests 🧪

#23 Turn off fail-fast
  .github/workflows/ci.yml
  .github/workflows/craft-release.yaml
Labels: CI 🚧, Configuration ⚙, YAML 🍄
