Repository WyriHaximus/github-action-next-semvers, pull requests merged in 2022-12, with the labels that each got.

#55 fix(action): replace set-output with environment variable
  .github/workflows/ci.yml
  .github/workflows/craft-release.yaml
  .github/workflows/set-milestone-on-pr.yaml
  next.php
  src/Next.php
  tests/NextTest.php
Labels: YAML 🍄, Tests 🧪, Source 🔮, Configuration ⚙, PHP 🐘, CI 🚧

#57 Reorder RUN
  Dockerfile-build
Labels: Dependencies 📦, Docker 🐳

#34 Switch to base Docker image on composer v2 image
  Dockerfile-build
Labels: Enhancement ✨, Dependencies 📦, Docker 🐳

#58 Switch Clair for Trivy
  .docker/security/docker-compose.yml
  .github/workflows/ci.yml
Labels: YAML 🍄, Configuration ⚙, Docker 🐳, CI 🚧

#60 Don't lowercase image name on CVE scan
  .github/workflows/ci.yml
Labels: YAML 🍄, Configuration ⚙, CI 🚧

#61 Missing )
  .github/workflows/ci.yml
Labels: Bug 🐞, YAML 🍄, Configuration ⚙, CI 🚧

#62 More copy pasta xargs leftover cleanup
  .github/workflows/ci.yml
Labels: YAML 🍄, Configuration ⚙, CI 🚧

#63 Update tp PHP 8.2
  .github/workflows/ci.yml
  Dockerfile-build
  Makefile
  composer.json
  composer.lock
  infection.json.dist
Labels: Dependencies 📦, JSON 👨‍💼, YAML 🍄, Configuration ⚙, PHP 🐘, Docker 🐳, CI 🚧

#65 Add inline CI testing
  .github/workflows/ci.yml
Labels: YAML 🍄, Configuration ⚙, CI 🚧

#66 Drop redundant double quotes
  src/Next.php
Labels: Bug 🐞, Source 🔮, PHP 🐘
